.container {
  font-family: "ProximaNova", Arial, 'sans-serif';
  width: 800px;
  height: 600px;
  padding: 15px;
  margin: 0 auto;
  background: white;
  position: relative;
}
.pages {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.page {
  width: 800px;
  height: 600px;
  position: absolute;
  transition: .5s all ease-out;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &.active {
    display: block;
    z-index: 1000;
  }
}

.page {
  &.top-enter {
    left: -100%;
    transition: left .5s;
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  }

  &.top-enter.top-enter-active {
    left: 0;
  }

  &.top-leave {
    left: 0;
    transition: left .5s;
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  }

  &.top-leave.top-leave-active {
    left: -100%;
  }
}
