html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  transition: all .5s ease-out;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  justify-content: center;
  &, &.laikes-bg {
    background-color: #a6794b;
  }
  &.astikes-bg {
    background-color: #3b8fbf;
  }
}
#root {
  width: 800px;
  height: 600px;
}
.laikes-bg .container, .laikes-bg .page-container {
  background-color: #a6794b;
}
.astikes-bg .container, .astikes-bg .page-container {
  background-color: #3b8fbf;
}
.container {
  font-family: "ProximaNova", Arial, 'sans-serif';
  padding: 0;
  // margin: 0 auto;
  background: white;
  position: relative;
}
.pages {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.page-container {
  width: 800px;
  height: 600px;
  position: absolute;

}
.page-content {
  position: absolute;
  width: 800px;
  height: 460px;
  top: 67px;
  transition: .5s all ease-out;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &.active {
    display: block;
    z-index: 1000;
  }
}
.empty {
  pointer-events: none;
}
